$card-width: 80vw;
$min-card-width: 300px;
$max-card-width: 1150px;
$card-height: 75vh;
$card-media-height: $card-height - 10;

#app-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
}

#main-card {
  width: $card-width;
  min-width: $min-card-width;
  max-width: $max-card-width;
  height: $card-height;
  min-height: 600px;
  margin-top: 20px;
}


#card-title {
  font-size: 28px;
}

#synt4rt-link {
  font-family: cursive;
  font-size: 8px;
  font-weight: bold;

  float: right;

  text-decoration: none;

  color: inherit;
}

#synt4rt-logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 17px;
  font-weight: bolder;

  z-index: 2;

  display: inline-block;

  margin-right: -10px;
  margin-top: -15px;
  margin-bottom: 10px;

  transform: rotate(-10deg);

  text-shadow: rgba(0, 0, 0, 0.3) 1px 2px;
}


#stock-icon-title {
  font-size: 45px;

  margin-right: 10px;
}

#card-media,
#card-media > div {
  display: flex;
  flex-direction: column;

  width: $card-width;
  min-width: $min-card-width;
  max-width: $max-card-width;
  height: $card-media-height;
  min-height: 500px;

  text-align: center;

  align-items: center;
  justify-content: center;
}

#chips-container {
  display: flex;
  flex-direction: row;

  width: 75vw;
  margin-top: 20px;
  margin-bottom: 0;

  align-items: center;
  flex-shrink: 0; // Safari Overflow Fix
  flex-wrap: wrap;
  justify-content: center;
}


.stock-chip {
  margin: 4px 2px !important;
}

#search-box {
  margin-top: 6px;
}
