$card-width: 80vw;
$min-card-width: 300px;
$max-card-width: 1150px;
$card-height: 75vh;
$card-media-height: $card-height - 10;

#app-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
}

#main-card {
  width: $card-width;
  min-width: $min-card-width;
  max-width: $max-card-width; 
  height: $card-height;
  min-height: 600px;
  margin-top: 20px;
}


#card-title {
  font-size: 28px;
}

#stock-icon-title {
  font-size: 45px;

  margin-right: 10px;
}

#card-media,
#card-media > div {
  display: flex;
  flex-direction: column;

  width: $card-width;
  min-width: $min-card-width;
  max-width: $max-card-width; 
  height: $card-media-height;
  min-height: 500px;

  text-align: center;

  align-items: center;
  justify-content: center;
}

#chips-container {
  display: flex;
  flex-direction: row;

  width: 75vw;
  margin-top: 20px;
  margin-bottom: 0px;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 0; // Safari Overflow Fix
}


.stock-chip {
  margin: 4px 2px !important;
}

#search-box {
  margin-top: 6px;
}
